
.loginButtonOne {
    font-family: 'Manrope';
    font-size: 15px;
    color: white;
    position: center;

    
    background: #BEB8F4;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border-color: white;
    display: block;
    float: right;
    margin-right: 125px;
    margin-top: 40px;
}

.logo {
    color: black;
    float: left;
    display: block;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 100px;
}

body {
    background-color: #F5F5F5;
}

.bunnyImage{
    width: 30rem;
    float: right;
    display: block;
    margin-right: 9%;
}

.motivationalQuote{
    display: block;
    float: left;
    margin-left: 7%;
    margin-top: 5%;
    font-size: 50px;
}

.information{
    display: block;
    float:left;
    font-size: 20px;
    margin-left: 7%;
    margin-top: 2%;
}

.Find{
    background: none;
    color: #DCB2C2;
}

.Share{
    background: none;
    color: #DBC2E9;
}

.Heal{
    background: none;
    color: #AFAADE;
}

.loginButtonTwo {
    font-family: 'Manrope';
    font-size: 15px;
    color: white;
    position: center;

    
    background: #BEB8F4;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border-color: white;
    display: block;
    float: left;
    margin-left: 7%;
}


.bottomStats{
    background-color: #BEB8F4;
    display: flex;
    width: 100%;
    height: 150px;
}

.Users{
    color: white;
    display: block;
    float: left;
    margin-left: 20%;
    margin-top: 20px;
}

.sucessfulMatches{
    color: white;
    display: block;
    margin-left: 35%;
    margin-top: 20px
}

.noOfUsers{
    font-size: 60px;
    margin-left: 10px;
}

.noOfSuccesfulMatches{
    font-size: 60px;
    margin-left: 50px;
}
