
.loginButtonOne {
    font-family: 'Manrope';
    font-size: 15px;
    color: white;
    position: center;

    
    background: #BEB8F4;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border-color: white;
    display: block;
    float: right;
    margin-right: 125px;
    margin-top: 40px;
}

.logo {
    color: black;
    float: left;
    display: block;
    font-size: 24px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 100px;
}

body {
    background-color: #F5F5F5;
}

.bunnyImage{
    width: 30rem;
    float: right;
    display: block;
    margin-right: 10%;
}

.motivationalQuote{
    display: block;
    float: left;
    margin-left: 7%;
    margin-top: 5%;
    font-size: 50px;
}

.information{
    display: block;
    float:left;
    font-size: 20px;
    margin-left: 7%;
    margin-top: 2%;
}

.Find{
    background: none;
    color: #DCB2C2;
}

.Share{
    background: none;
    color: #DBC2E9;
}

.Heal{
    background: none;
    color: #AFAADE;
}

.loginButtonTwo {
    font-family: 'Manrope';
    font-size: 15px;
    color: white;
    position: center;

    
    background: #BEB8F4;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border-color: white;
    display: block;
    float: left;
    margin-left: 7%;
}


.bottomStats{

        position: fixed; /* Sticks to the viewport, even on scroll */
        bottom: 0;       /* Positions it exactly at the bottom */
        left: 0;         /* Optional: aligns it to the left edge of the screen */
        width: 100%;     /* Optional: full width across the bottom */
        height: 150px;    /* Set desired height */
        background-color: #BEB8F4; /* Set desired background color */

      
}

.Users{
    color: white;
    display: block;
    float: left;
    margin-left: 20%;
    margin-top: 20px;
}

.sucessfulMatches{
    color: white;
    display: block;
    margin-left: 60%;
    margin-top: 20px;
}

.noOfUsers{
    font-size: 60px;
    margin-left: 10px;
}

.noOfSuccesfulMatches{
    font-size: 60px;
    margin-left: 50px;
}
